<div class="tab-pane fade show active" id="edit-item" role="tabpanel" aria-labelledby="edit-item-tab">
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <form action="/admin/item/<%= item.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" placeholder="Enter title" value="<%= item.title %>">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" name="price" placeholder="Enter price" value="<%= item.price %>">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" placeholder="Enter city" value="<%= item.city %>">
        </div>
        <div class="form-group">
          <label for="unit">Unit</label>
          <input type="text" class="form-control" name="unit" placeholder="Enter unit" value="<%= item.unit %>">
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" name="category">
            <% categories.forEach((category) => { %>
              <option value="<%= category._id %>" <% (category._id === item.categoryId._id) ? 'selected' : null %> ><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" class="form-control" name="image" multiple>
        </div>
        <div class="form-group">
          <label for="descriptionItem">Description</label>
          <textarea class="form-control" name="descriptionItem"><%= item.description %></textarea>
        </div>
        <a href="/admin/item" class="btn btn-warning">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
