<!-- DataTables -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
      <i class="fas fa-plus"></i>
      <span>Add New Category</span>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach((category, index) => { %>
            <tr>
              <td><%= ++index %></td>
              <td><%= category.name %></td>
              <td class="text-center">
                <form action="/admin/category/<%= category.id %>?_method=DELETE" method="POST">
                  <a href="#" class="btn btn-sm btn-warning btn-edit-category mr-1" data-toggle="modal" data-target="#editModal" data-id="<%= category.id %>" data-name="<%= category.name %>">
                    <i class="fas fa-edit"></i>
                  </a>
                  <button type="submit" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End DataTables -->
